.container>.sideWrap {
    display: block;
    z-index: 1000;
    position: fixed;
}

.container>.sideWrap>a {
    display: block;
}

.container>.sideWrap>a>.topArrow {
    display: block;
    margin-left: 1000px;
}

#map {
    top: 10px;
    width: 1200px;
    height: 450px;
    background-color: #48d8d8;
    position: relative;
    overflow: hidden;
}

#categoryWrap {
    display: block;
}

#categoryWrap>#category {
    display: inline-block;
    position: absolute;
    top: 85px;
    border: 2px solid #00000044;
}