#map {
    top: 10px;
    width: 1250px;
    height: 480px;
    background-color: #48d8d8;
    position: relative;
    overflow: hidden;
}
#categoryWrap {
    display: block;
}

#categoryWrap>#category {
    display: inline-block;
    position: absolute;
    top: 85px;
    border: 2px solid #00000044;
}